@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Universals */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
}
body{
    background-color: #170F1A;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'STIX Two Text', serif;
    font-weight: bold;
    font-size: 2em;
    color: #FFFFFF;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 7px 8px rgba(0,0,0,0.2), 
    0px -4px 18px rgba(255,255,255,.1);
}
 
p{
    font-family: "Georama", sans-serif;
    font-size: 1em;
    color: #FFFFFF;
}

svg{
    display: inline-block;
    transition: .5s;
}

video {
    margin: 0em auto 1.5em auto;
}

.opening-section, .talents-ascension-section, 
.image-video-section, .combat-section, 
.title-section, .constellation-section, 
.build-section, .lore-section, 
.art-section{
    height: 100vh;
    scroll-snap-align: start;
}

.art-section{
    height: 120vh;
    scroll-snap-align: start;
}


/* Opening/Titles Section */
.opening-section, .title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opening-section h1{
    font-size: 4em;
}

.opening-section p{
    font-size: 1.5em;
    color: #F3F3FB;
    padding: .5em;
}

.menu i{
    z-index: 4;

    position: fixed;
    right: 3em;
    bottom: 3em;

    width: 1.8em;
    height: 1.8em;
    background-color: #FFE1EC;
    opacity: 0;
    border: 1.5px solid #FFD7E2;

    border-radius: 50%;
    transition: .5s;
}
.menu i:hover{
    background-color: #1E0039;
}

#menuImage img{
    max-width: 5%;
}
.opening-section img{
    position: fixed;
    right: 1.5em;
    bottom: 1.5em;
    border-radius: 50%;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.title-section h2{
    font-size: 3em;
}


/* Image Video & Containers */
.image-video-container{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.image-video-container video, .image-video-container img{
    max-width: 100%;
    height: auto;
    display: block;
}

.container{
    width: 75%;
    margin: 0 auto;
}


/* Talents/Ascension Materials */
.talents-ascension-section {
    display: flex;
}

.talents-ascension-section svg{
    position: absolute;
    left: 0;
    z-index: -1;
    transform: scale(.95);
}

.ganyu-splash{
    width: 70%;
    margin: 3em 0em;
}
.ganyu-splash img{
    max-height: 90%;
    display: block;
    position: absolute;
    left: 0;
    z-index: -1;
}

.talents-ascension{
    display: block;
    width: 80%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 6em;
    padding: 0 3em;
}

.talents-ascension h2{
    font-size: 2em;
    border-bottom: 1.5px solid #FFFFFF;
}

.monster, .shivada, .books{
    display: flex;
    justify-items: center;
    height: 8em;
}
.item{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
.item-name{
    color: #FFFFFF;
}
.item-name strong{
    color: #B9BFFF;
    font-size: .95em;
}
.talents-ascension .item img{
    max-width: 90%;
    max-height: 60%;
    display: block;
    margin: 0 auto;
    transition: .3s;
}
.talents-ascension .item p{
    font-size: .95em;
    color: #FFFFFF;
    text-align: center;
}

/* Weapons and Artifacts Section */
.build-section{
    padding: 6em 0em;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.build{
    width: 100%;
    height: 70%;
    background-color: #F3F3FB;
    border-radius: .3em;
    padding: 1em 2em 2em 2em;
    margin: 0em 2em;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.build-section .top-border{
    position: absolute;
    width: 100%;
    top: 5em;
}
.build-section .bottom-border{
    position: absolute;
    width: 100%;
    bottom: 19.6em;
}
.build h2,.build .description, .weapons-artifacts h3, .weapons-artifacts h4, .weapons-artifacts h5{
    font-family: "Georama", sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    text-shadow: none;
    text-transform: none;
    font-weight: 500;
    text-align: left;
    transition: .5s;
}
.build h2{
    color: #1E0039;
    padding: 1em 0em;
}
.build .description{
    font-size: 1em;
    color: #000000;
    padding-bottom: 1em;
    font-weight: 400; 
}

.weapons-artifacts h3{
    font-size: 1.3em;
    color: #000000;
    font-weight: 500;
    padding: 0 1em;
}
.weapons-artifacts h4{
    font-size: 1em;
    color: #B9BFFF;
    font-weight: 400;
}
.weapons-artifacts h5{
    font-size: 1em;
    color: #D5D5D5;
    font-weight: 400;
    padding-top: .1em;
}
.weapons-artifacts p{
    color: #FFFFFF;
    font-size: .9em;
    width: 80%;
    padding-top: .5em;
}
.weapons-artifacts{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.weapons, .artifacts{
    flex-grow: 1;
    flex-basis: 0;
}

.weapons-artifacts .or-text{
    font-size: 1.1em;
    text-align: center;
    color: #1E0039;
    border-bottom: 1px solid #1E0039;
    padding: .3em;
    width: 80%;
    margin: 0 auto;
}

.weapon, .artifact{
    position: relative;
    padding: 1em;
    margin: 1.5em 1em;
    background-color: #170F1A;
    border-radius: .3em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.weapon img, .artifact img{
    position: absolute; 
    right: 1em;
    top: -1em;
    border-radius: 50%;
    background-color: #F3F3FB;
    border: 4px solid #FFFFFF;
    max-height: 40%;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.weapon .large, .artifact .large{
    max-height: 40%;
}
.weapon .small, .artifact .small{
    max-height: 60%;
}

/* Combat Section */
.combat-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.abilities-constellation{
    padding: 3em 3em;
    background-color: #1E0039;
    margin: 3em 0em;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset
}
.abilities-constellation .border-top{
    position: absolute;
    left: 0em;
    top: -2em;
}

.combat-images, 
.constellation-images{
    display: flex;
    justify-items: center;
    align-items: start;
    padding-top: 1em;
    height: 12em;
    transition: .5s;
}
.combat-images .item img, 
.constellation-images .item img{
    max-width: 60%;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #F3F3FB;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 25px 20px -20px;
}

.combat-images .ability-low, 
.constellation-images .ability-low{
    align-self: flex-end;
}
.combat-images .ability-mid, 
.constellation-images .ability-mid{
    align-self: center;
}

.abilities-constellation h3{
    position: absolute;
    bottom: 1.5em;
    font-size: 1.25em;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0em 2em;
    border-left: 2px solid #F3F3FB;
    border-right: 2px solid #F3F3FB;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
    opacity: 0;
    transition: .5s;
    background: #1E0039;
    z-index: -1;
}

.overlay-box{
    background: #F3F3FB;
    width: 80%;
    height: auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset
}

.overlay-box h2, .overlay-box p{
    font-family: "Georama", sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    text-shadow: none;
    text-transform: none;
    font-weight: 500;
    text-align: center;
    transition: .5s;
}

.overlay-box h2{
    font-family: 'STIX Two Text', serif;
    color: #1E0039;
    padding: 1.5em 0em;
}

.overlay-box p{
    color: #170F1A;
    font-weight: 400;
    font-size: 1em;
    width: 80%;
    text-align: left;
    margin: 0em auto 3em auto;
    line-height: 1.3em;
}

.overlay-box i{
    position: absolute; 
    top: 1em;
    right: 1.5em;
    padding: .3em;
}
.overlay-box i:hover{
    background-color: #B9BFFF;
    border: 1px solid black;
    border-radius: 3px;
    transition: .2s;
}

/* Background and Story */
.lore-section{
    padding: 2em 0em;
    margin: 0em 3.5em;
}
.background, .stories{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.card{
    width: 15%;
    height: 23em;
    background-color: #F3F3FB;
    border-radius: 2%;
    margin: 1.5em 0;
    padding: 1em;
    position: relative;
}
.card-shadow{
    position: absolute;
    left: -.8em;
    top: -.5em;
    width: 100%;
    height: 100%;
    background-color: #B9BFFF;
    border-radius: 2%;
    z-index: -1;
}

.card h2, .card p, .card button{
    font-family: "Georama", sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    text-shadow: none;
    text-transform: none;
    font-weight: 500;
    text-align: left;
}

.card h2{
    color: #1E0039;
    border-bottom: 2px solid #1E0039;
    padding-bottom: .5em;
}
.card p{
    color: #000000;
    font-weight: 400;
    text-align: justify;
    font-size: 1em;
    line-height: 1.2em;
    padding-top: 1em;
}

.card button{
    margin: 0;
    position: absolute;
    bottom: 5%;
    left: 50%;
    
    transform: translate(-50%, -5%);

    background-color: #170F1A;
    border: none;
    color: #F3F3FB;
    font-size: 1em;
    font-weight: 400;
    
    padding: .7em 1.8em;
}

.card button:hover{
    background-color: #1E0039;
    transition: .2s;
}

/* Art Section  */
.art-section{
    margin: 0 auto;
}

.lore-container{
    width: 33.333333%;
    overflow: hidden;
    height: fit-content;
    position: relative;
    float: left;
}


.path{
    transform: scale(1.5);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 40s linear forwards;
}

.border{
    transform: scale(12);
}
.border-image{
    transform: scale(1.4);
}

@keyframes dash{
    to{
        stroke-dashoffset: 0;
    }
}


@media only screen and (max-width: 480px){

    /* Universals */
    body{
        overflow-x: hidden;
    }
    video {
        margin: 0 auto;
    }

    .opening-section h1, .title-section h1{
        font-size: 2.5em;
    }
    .opening-section p{
        font-size: .75em;
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }
    .title-section h2{
        font-size: 1.75em;
    }
    .opening-section img{
        max-width: 25%;
    }

    .container{
        width: 100%;
    }
    
    /* Talents Ascension Materials */
    .talents-ascension-section {
        height: 700px;
        padding: 2em 0;
    }
    .talents-ascension-section svg, .ganyu-splash{
        display: none;
    }
    .talents-ascension{
        width: 100%;
        margin: 0;
    }
    .monster, .shivada, .books{
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        margin: 1em 0em;
    }
    .monster .item, .shivada .item, .books .item{
        max-width: 20%;
    }
    .talents-ascension .item img{
        max-height: 100%;
        display: block;
    }
    .talents-ascension .item p{
        font-size: .7em;
    }
    .talents-ascension h2{
        margin: .5em 0em;
    }    

    /* Weapons and Artifacts Section */
    .build-section{
        flex-direction: column;
        padding: 3em 0em; 
        height: auto;
        align-items: center;
    }
    .build{
        margin: 1em 0em;
        width: 75%;
        height: auto;
    }
    .build h4, .build h5{
        width: 60%;
    }
    .build-section svg{
        display: none;
    }
    .weapons-artifacts{
        flex-direction: column;
        align-content: space-around;
    }
    .weapons-artifacts .or-text{
        margin: 1em auto 2em auto;
    }
    .weapon img, .artifact img{
        max-height: 30%;
        top: -1.5em;
    }
    .weapon .large, .artifact .large{
        max-height: 30%;
    }
    .weapon .small, .artifact .small{
        max-height: 45%;
    }
    
    /* Combat Section */
    .combat-section{
        padding: 2em 0em;
    }
    .combat-section #abilities-constellation{
        display: flex;
        justify-content: space-around;
    }
    .abilities-constellation{
        padding: 2em 0em;
        width: 45%;
    }
    .abilities-constellation .border-top{
        display: none;
    }
    .combat-images, 
    .constellation-images{
        flex-direction: column;
        justify-content: center;
        height: 30em;
        padding-top: 0em;
    }
    .combat-images .item img, 
    .constellation-images .item img{
        max-width: 40%;
        margin: 1em auto;
    }

    .abilities-constellation h3{
        display: none;
    }
    .overlay-box{
        width: 90%;
    }

    /* Background and Story Section */
    .lore-section{
        margin: 0em;
        height: auto;
    }
    .background, .stories{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 65%;
    }

    /* Art Section */
    .lore-container{
        width: 100%;
        height: fit-content;
    }

}

@media only screen and (min-width: 481px) and (max-width: 1024px){

    /* Universals */
    body{
        overflow-x: hidden;
    }
    video {
        margin: 0 auto;
    }

    /* Talents Ascension Materials */
    .talents-ascension-section {
        height: 700px;
        padding: 2em 0;
        position: relative;
    }
    .talents-ascension-section svg{
        transform: rotate(90deg);
        position: absolute;
        top: 5em;
        left: -2em;
    }
    .ganyu-splash{
        display: none;
    }
    .talents-ascension{
        width: 70%;
        margin: 0 auto;
    }
    .monster, .shivada, .books{
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        margin: 1em 0em;
    }
    .monster .item, .shivada .item, .books .item{
        max-width: 15%;
    }
    .talents-ascension .item img{
        max-height: 50%;
        display: block;
    }
    .talents-ascension .item p{
        font-size: 1em;
    }
    .talents-ascension h2{
        margin: .5em 0em;
    }   

    /* Weapons and Artifacts Section */
    .build-section{
        height: auto;
        padding: 3em 0em; 
    }
    .build-section svg{
        display: none;
    }
    .weapons-artifacts{
        flex-direction: column;
        align-content: space-around;
    }
    .weapons-artifacts .or-text{
        margin: 1em auto 2em auto;
    }
    .weapon img, .artifact img{
        max-height: 30%;
        top: -1.5em;
    }
    .weapon .large, .artifact .large{
        max-height: 30%;
    }
    .weapon .small, .artifact .small{
        max-height: 45%;
    }

    /* Combat Section */
    .combat-section{
        padding: 2em 0em;
    }
    .combat-section #abilities-constellation{
        display: flex;
        justify-content: space-around;
    }
    .abilities-constellation{
        padding: 2em 0em;
        width: 45%;
    }
    .abilities-constellation .border-top{
        display: none;
    }
    .combat-images, 
    .constellation-images{
        flex-direction: column;
        justify-content: center;
        height: 35em;
    }
    .combat-images .item img, 
    .constellation-images .item img{
        max-width: 25%;
        margin: 1em auto;
    }
    .abilities-constellation h3{
        display: none;
    }

    /* Background and Story Section */
    .lore-section{
        margin: 0em;
        height: auto;
    }
    .background, .stories{
        flex-direction: column;
        align-items: center;
    }
    .card{
        height: 13em;
        width: 80%;
    }

    /* Art Section */
    .lore-container{
        width: 100%;
        height: fit-content;
    }
}