@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root{
    --primary-color: #C51B29;
    --primary-2-color: #A31621;
    --primary-3-color: #90141E;

    --secondary-color: #FED234;
    --secondary-2-color: #FEC90B;
    --secondary-3-color: #DFAF01;


    --tertiary-color: #2E2D4D;
    --tertiary-2-color: #1F1E33;
    --tertiary-3-color: #100F1A;

    --title-color: #FFFFFF;
    --sub-title-color: #C2C2C2;
    --paragraph-color: #FFFFFF;
    --light-title-color: #C51B29;
    --dark-title-color: #2E2D4D;

    --main-background-color: #100F1A; 
    --light-container-color:#F5F5F5;
    --dark-container-color: #100F1A;
    
}

/* Universals */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
}
body{
    background-color: var(--main-background-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'STIX Two Text', serif;
    font-weight: bold;
    font-size: 2em;
    color: var(--title-color);
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 7px 8px rgba(0,0,0,0.2), 
    0px -4px 18px rgba(255,255,255,.1);
}
 
p{
    font-family: "Georama", sans-serif;
    font-size: 1em;
    color: var(--paragraph-color);
}

svg{
    display: inline-block;
    transition: .5s;
}

.opening-section, .talents-ascension-section, 
.image-video-section, .combat-section, 
.title-section, .constellation-section, 
.build-section, .lore-section, 
.art-section{
    height: 100vh;
    scroll-snap-align: start;
}

/* Image Video & Containers */
.image-video-container{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.image-video-container img{
    max-width: 100%;
    height: auto;
    display: block;
}

.container{
    width: 75%;
    margin: 0 auto;
}

/* Opening/Titles Section */
.opening-section, .title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opening-section .title{
    font-size: 4em;
}
.title-section h2{
    font-size: 3em;
}
.opening-section .random-quote, .opening-section .sub-title{
    font-size: 1.5em;
    color: var(--sub-title-color);
    padding: .5em;
}

.menu i{
    z-index: 4;
    position: fixed;
    right: 3em;
    bottom: 3em;
    width: 1.5em;
    height: 1.5em;
    background-color: var(--primary-color);
    border: 1.5px solid var(--primary-3-color);
    border-radius: 50%;
    transition: .5s;
}
.menu i:hover{
    background-color: var(--secondary-color);
}
.opening-section img{
    position: fixed;
    right: 1.5em;
    bottom: 1.5em;
    border-radius: 50%;
    max-width: 5%;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Talents/Ascension Materials */
.talents-ascension-section {
    position: relative;
}
.talents-ascension-section svg, .character-splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: 100vh;
    padding-top: 3em;
}

.character-splash{
    padding: 0;
    width: 65%;
}
.character-splash img{
    max-height: 95%;
}

.talents-ascension{
    height: 100vh;
    width: 70%;
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}
.talents-ascension h2{
    font-size: 2em;
    border-bottom: 1.5px solid var(--primary-3-color);
}
.monster, .shivada, .books{
    display: flex;
    justify-items: center;
    width: 60%;
    height: 15%;
}

.item-name p{
    color: var(--title-color);
}
.item-name strong{
    color: var(--secondary-color);
}
.talents-ascension .item img{
    max-height: 70%;
    margin: 0 auto;
    transition: .3s;
}
.talents-ascension .item p{
    font-size: .9em;
    color: var(--title-color);
    text-align: center;
}

/* Weapons and Artifacts Section */
.build-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.build{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: var(--light-container-color);
    border-radius: .3em;
    padding: 0em 2em 0em 2em;
    margin: 0em 2em;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.build-section .top-border{
    position: absolute;
    top: 2em;
    width: 100%;
}
.build-section .bottom-border{
    position: absolute;
    bottom: 2em;
    width: 100%;
}

.build h2,.build .build-description, .weapons-artifacts h3, .weapons-artifacts h4, .weapons-artifacts h5{
    font-family: "Georama", sans-serif;
    font-size: 1.5em;
    letter-spacing: 0;
    text-shadow: none;
    text-transform: none;
    font-weight: 500;
    text-align: left;
    transition: .5s;
}
.build h2{
    color: var(--dark-title-color);
    padding: 1em 0em;
}
.build .build-description{
    font-size: 1em;
    color: var(--main-background-color);
    padding-bottom: 1em;
    font-weight: 400; 
}

.weapons-artifacts h3{
    font-size: 1.3em;
    color: var(--main-background-color);
    font-weight: 500;
    padding: 0 1em;
}
.weapons-artifacts h4{
    font-size: 1em;
    color: var(--primary-color);
    width: 60%;
    font-weight: 400;
}
.weapons-artifacts h5{
    font-size: .85em;
    color: var(--sub-title-color);
    width: 60%;
    font-weight: 400;
    padding-top: .1em;
}
.weapons-artifacts p{
    font-size: .9em;
    width: 80%;
    padding: .5em 0;
}
.weapons-artifacts{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.weapons, .artifacts{
    flex-grow: 1;
    flex-basis: 0;
}

.weapons-artifacts .or-text{
    font-size: 1.1em;
    text-align: center;
    color: var(--dark-container-color);
    border-bottom: 1px solid var(--dark-container-color);
    padding: .3em;
    width: 80%;
    margin: 0 auto 2em auto;
}

.weapon, .artifact{
    position: relative;
    padding: 1em;
    margin: 1.5em 1em;
    background-color: var(--dark-container-color);
    border-radius: .5em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.weapon img, .artifact img{
    position: absolute; 
    right: 1em;
    top: -1.5em;
    border-radius: 50%;
    background-color: #E1E1E1;
    border: 2px solid #FFFFFF;
    max-height: 40%;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.weapon .large, .artifact .large{
    max-height: 35%;
}
.weapon .small, .artifact .small{
    max-height: 60%;
}

/* Combat Section */
.combat-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.abilities-constellation{
    padding: 3em 3em;
    background-color: var(--secondary-3-color);
    margin: 3em 0em;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset
}
.abilities-constellation .border-top{
    position: absolute;
    left: 0em;
    top: -2em;
}

.combat-images, 
.constellation-images{
    display: flex;
    justify-items: center;
    align-items: start;
    padding-top: 1em;
    height: 12em;
    transition: .5s;
}
.item{
    padding: .5em;
}
.combat-images .item img, 
.constellation-images .item img{
    max-width: 60%;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid var(--title-color);
    box-shadow: rgba(0, 0, 0, 0.7) 0px 25px 20px -20px;
}

.combat-images .ability-low, 
.constellation-images .ability-low{
    align-self: flex-end;
}
.combat-images .ability-mid, 
.constellation-images .ability-mid{
    align-self: center;
}

.abilities-constellation h3{
    position: absolute;
    bottom: 1.5em;
    font-size: 1.25em;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0em 2em;
    border-left: 2px solid #F3F3FB;
    border-right: 2px solid #F3F3FB;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
    opacity: 0;
    transition: .5s;
    background: var(--tertiary-3-color);
    z-index: -1;
}

.overlay-box{
    background: var(--light-container-color);
    width: 80%;
    height: auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset
}

.overlay-box h2, .overlay-box p{
    font-family: "Georama", sans-serif;
    font-size: 1.5em;
    letter-spacing: 0em;
    text-shadow: none;
    text-transform: none;
    font-weight: 500;
    text-align: center;
    transition: .5s;
}

.overlay-box h2{
    font-family: 'STIX Two Text', serif;
    color: var(--dark-title-color);
    padding: 1.5em 0em;
}

.overlay-box p{
    color: #000000;
    font-weight: 400;
    font-size: 1em;
    width: 80%;
    text-align: left;
    margin: 0em auto 3em auto;
    line-height: 1.3em;
}

.overlay-box i{
    position: absolute; 
    top: 1em;
    right: 1.5em;
    padding: .3em;
}
.overlay-box i:hover{
    background-color: var(--primary-color);
    border: 1px solid black;
    border-radius: 3px;
    transition: .2s;
}

/* Art Section  */
.art-section{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
}
.art-section > div{
    height: 100%;
}

.path{
    transform: scale(1.5);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 40s linear forwards;
}

.border{
    transform: scale(12);
}
.border-image{
    transform: scale(1.4);
}

@keyframes dash{
    to{
        stroke-dashoffset: 0;
    }
}


@media only screen and (max-width: 480px){

    /* Universals */
    body{
        overflow-x: hidden;
    }

    /* Opening/Title Section */
    .opening-section .title{
        font-size: 2em;
    }
    .opening-section .sub-title{
        font-size: .6em;
    }
    .title-section h2{
        font-size: 1.5em;
    }
    .opening-section img{
        max-width: 20%;
    }

    /* Talents/Ascension Materials */
    .talents-ascension-section svg, .character-splash{
        display: none;
    }
    .talents-ascension{
        width: 100%;
        margin: 0;
    }
    .monster, .shivada, .books{
        flex-wrap: wrap;
        height: auto;
        width: auto;
        justify-content: center;
        margin: .5em 1em;
    }
    .monster .item, .shivada .item, .books .item{
        max-width: 15%;
    }
    .talents-ascension .item img{
        max-height: 100%;
    }
    .talents-ascension .item p{
        font-size: .6em;
    }
    

    /* Weapons and Artifacts Section */
    .build-section{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .build{
        margin: 1em 0em;
        width: 70%;
    }
    .build h4, .build h5{
        width: 60%;
    }
    .build-section svg{
        display: none;
    }
    .weapons-artifacts{
        flex-direction: column;
        align-content: space-around;
    }
    .weapons-artifacts .or-text{
        margin: 1em auto 2em auto;
    }
    .weapon .large, .artifact .large{
        max-height: 25%;
    }
    .weapon .small, .artifact .small{
        max-height: 40%;
    }
    .weapon, .artifact{
        margin: 2em 0;
    }
    
    /* Combat Section */
    .combat-section #abilities-constellation{
        display: flex;
        justify-content: space-around;
    }
    .abilities-constellation{
        padding: 1em 0em;
        width: 47%;
    }
    .abilities-constellation .border-top{
        display: none;
    }
    .abilities-constellation h3{
        display: none;
    }
    .combat-images, 
    .constellation-images{
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .item{
        padding: 0;
    }
    .combat-images .item img, 
    .constellation-images .item img{
        max-width: 50%;
        margin: 1em auto;
    }
    .combat-images .ability-low, 
    .constellation-images .ability-low{
        align-self: start;
    }
    .combat-images .ability-mid, 
    .constellation-images .ability-mid{
        align-self: start;
    }

    /* Art Section */
    .art-section{
        grid-gap: 0px;
        grid-template-columns: repeat(1, 1fr);
    }
    .art-section > div{
        height: 100%;
    }

}

@media only screen and (min-width: 481px) and (max-width: 1024px){

    /* Universals */
    body{
        overflow-x: hidden;
    }

    /* Opening/Title Section */
    .opening-section img{
        max-width: 15%;
    }

    /* Talents Ascension Materials */
    .talents-ascension-section svg, .character-splash{
        display: none;
    }
    .talents-ascension{
        width: 100%;
        margin: 0;
    }
    .monster, .shivada, .books{
        flex-wrap: wrap;
        height: auto;
        width: auto;
        justify-content: center;
    }
    .monster .item, .shivada .item, .books .item{
        max-width: 15%;
    }
    .talents-ascension .item img{
        max-height: 60%;
    }
    .talents-ascension .item p{
        font-size: .8em;
    }

    /* Weapons and Artifacts Section */
    .build-section{
        height: auto;
        padding: 3em 0em; 
    }
    .build-section svg{
        display: none;
    }
    .weapons-artifacts{
        flex-direction: column;
        align-content: space-around;
    }
    .weapons-artifacts .or-text{
        margin: 1em auto 2em auto;
    }
    .weapon img, .artifact img{
        max-height: 30%;
        top: -1.5em;
    }
    .weapon .large, .artifact .large{
        max-height: 30%;
    }
    .weapon .small, .artifact .small{
        max-height: 45%;
    }

    /* Combat Section */
    .combat-section #abilities-constellation{
        display: flex;
        justify-content: space-around;
    }
    .abilities-constellation{
        padding: 0;
        width: 45%;
    }
    .abilities-constellation .border-top{
        display: none;
    }
    .abilities-constellation h3{
        display: none;
    }
    .combat-images, 
    .constellation-images{
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin-bottom: 1em;
    }
    .item{
        padding: 0;
    }
    .combat-images .item img, 
    .constellation-images .item img{
        max-width: 25%;
        margin: .5em auto;
    }
    .combat-images .ability-low, 
    .constellation-images .ability-low{
        align-self: start;
    }
    .combat-images .ability-mid, 
    .constellation-images .ability-mid{
        align-self: start;
    }

    /* Art Section */
    .art-section{
        grid-gap: 0px;
        grid-template-columns: repeat(1, 1fr);
    }
    .art-section > div{
        height: 100%;
    }
}